/* Шрифт Bulatov */
@font-face {
  font-family: "bulatovspdemo";
  src: url("./resource/fronts/bulatovspdemo-webfont.woff2") format("woff2"),
       url("./resource/fronts/bulatovspdemo-webfont.woff") format("woff");
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: lightgreen;
}

/* ползунок */

body::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #2e382dad;        /* цвет дорожки */ 
}
body::-webkit-scrollbar-thumb {
  background-color: #3f4d3d;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid dark;  /* padding вокруг плашки */
}

/* конец. ползунок */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
.gtext {
      font-size: 100px;
      font-family: 'bulatovspdemo';
      color: white;
  }
.text {
      font-size: 70px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  }

/* верхний блок */
header {
  margin-bottom: 10px;
  font-size: 0;
}

.header_logotip, .header_ponos{
    display:inline-block;
    padding: 25px;
    font-size: 35px;
    box-sizing: border-box;
    
  }
  
.header_logotip {
    width: 30%;
    background-color: #4c5e4b;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.header_ponos {
    width: 70%;
    background-color: #556854;
    text-align: center;
  }
.container1{
  width: 90%;
  margin: 0 auto;
}
/* конец верх. блока */

.img { 
      image-rendering: center;
  }

.gimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: "50%";
}
/* анимация кнопок */
.animated-button:hover {
  transform: scale(1.1); /* Увеличение */
  }

.animated-button {
  padding: 20px 50px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 20px solid black;
  font-size: 90px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
   font-size: 32px;
  }


/* Новая кнопка */
.Gbutton:hover {
  transform: scale(1.1); /* Увеличение */
  }
.Gbutton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  }

/* Блок обратной связи */
.unsup input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


/* анимированный задний фон */
.bg {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, #556854 50%, #000 50%);
  bottom:0;
  left:-100%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}

.bg3 {
  animation-duration:10s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*анимация загрузки сайта*/

        .preloader {
          /*фиксированное позиционирование*/
          position: fixed;
          /* координаты положения */
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          /* фоновый цвет элемента */
          background:  #052602;
          /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
          z-index: 1001;
        }
        
        .preloader__row {
          position: relative;
          top: 50%;
          left: 50%;
          width: 150px;
          height: 150px;
          margin-top: -40px;
          margin-left: -40px;
          text-align: center;
          animation: preloader-rotate 2s infinite linear;
        }
        
        .preloader__item {
          position: absolute;
          display: inline-block;
          top: 0;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          animation: preloader-bounce 2s infinite ease-in-out;
        }
        
        @keyframes preloader-rotate {
          100% {
            transform: rotate(360deg);
          }
        }
        
        @keyframes preloader-bounce {
        
          0%,
          100% {
            transform: scale(0);
          }
        
          50% {
            transform: scale(1);
          }
          0% {background-color: #052602;}
          50% {background-color: white;}
          100% {background-color: #052602;}
        }
        
        .loaded_hiding .preloader {
          transition: 0.3s opacity;
          opacity: 0;
        }
        
        .loaded .preloader {
          display: none;
        }
        
/* Слайдер со скриншотами */
.banner-container {
	overflow: hidden;
	position: relative;
}
.banner-container ul {
	padding: 0;
	display: flex;
	width: calc(100% + 60px);
	margin-left: -30px;
}
.banner-container li {
	clip-path: polygon(60px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);	
	position: relative;
	margin: 0 -35px;
	width: calc(100% / 3 + 70px);  /* 3 - кол-во фотографий */
	transition: width 0.5s ease-in;
}
.banner-container li a {
	display: block;
	background: #000000a1;	
}
.banner-container li a img {
	max-width: none;
	height: 750px;
	width: 100%;
	object-fit: cover;
	opacity: 0.6;
	transition: opacity 0.7s ease-in;
}
.banner-container ul li:hover {
	width: 100%;
}	
.banner-container ul li:hover a img {
	opacity: 1;
}