.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      }
.gtext {
        font-size: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }
.text {
        font-size: 70px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
img { 
        image-rendering: center;
    }
.animated-button:hover {
        transform: scale(1.1); /* Увеличение */
        }
    
.animated-button {
        padding: 20px 50px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: 20px solid black;
        font-size: 90px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease; 
        }
    
.container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        font-family: "Segoe UI", sans-serif;
        font-weight: 100;
         font-size: 32px;
          }
          
body {
        background:
        linear-gradient(-45deg, #004400, #052602, #004400);
        background-size: 400% 400%;
        height: 100vh;
        animation: gradient 20s ease infinite;
    }

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #556854d0;
    text-align: center;
    border-radius: 10px;
}

.box:hover {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #556854d0;
    box-shadow: 1px 1px 15px 1px black;
    transition: 1s;
}

.but {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #004400;
  transition: 0.5s;
}
          
@keyframes gradient {
        0% {
            background-position: 0% 50%;
            }
        50% {
            background-position: 100% 50%;
            }
        100% {
            background-position: 0% 50%;
            }
          }

/*анимация загрузки сайта*/

          .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            background:  #052602;
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
          }
          
          .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
          }
          
          .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #00ff55;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
          }
          
          .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
          }
          
          @keyframes preloader-rotate {
            100% {
              transform: rotate(360deg);
            }
          }
          
          @keyframes preloader-bounce {
          
            0%,
            100% {
              transform: scale(0);
            }
          
            50% {
              transform: scale(1);
            }
          }
          
          .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
          }
          
          .loaded .preloader {
            display: none;
          }